@import url(common.css);

body {
	background: #979797;
}


#slideShow {
	position: relative;
	/*부모기준설정*/
	overflow: hidden;
	/*넘치는 자식 보이지않게*/
	width: 940px;
	height: 430px;
	margin: 0 auto;
}

#slideShow .slide ul {
	position: absolute;
	width: 3760px;
	/*슬라이드가 가로방향일때만->이미지의 총가로길이(940*4)*/
}

#slideShow .slide ul li {
	float: left;
}

/* 이미지를 배경으로 설정하는 경우....

#slideShow .slide ul li{ 
	float:left;
	width:940px;
	height:430px;	
}  

#slideShow .slide ul .m1{background:url(../image/slide-1.jpg) no-repeat;}
#slideShow .slide ul .m2{background:url(../image/slide-2.jpg) no-repeat;}
#slideShow .slide ul .m3{background:url(../image/slide-3.jpg) no-repeat;}
#slideShow .slide ul .m4{background:url(../image/slide-4.jpg) no-repeat;}
*/



/*하단버튼*/

#slideShow .slide_btn {
	position: absolute;
	bottom: 20px;
	left: 420px;
}

#slideShow .slide_btn ul li {
	float: left;
	background: #000;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 7px;
	cursor: pointer;
}

#slideShow .slide_btn ul li.active {
	background: #ff6600;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}


/*좌우버튼*/
#slideShow .side_btn .pre {
	position: absolute;
	top: 180px;
	left: 30px;
	width: 65px;
	height: 65px;
	background: url(../image/lbtn_off.png) no-repeat;
}

#slideShow .side_btn .pre:hover {
	background: url(../image/lbtn_on.png) no-repeat;
	cursor: pointer;
}

#slideShow .side_btn .nex {
	position: absolute;
	top: 180px;
	right: 30px;
	width: 65px;
	height: 65px;
	background: url(../image/rbtn_off.png) no-repeat;
}

#slideShow .side_btn .nex:hover {
	background: url(../image/rbtn_on.png) no-repeat;
	cursor: pointer;
}


/*Play,Stop 버튼*/
#slideShow .playstop .stop {
	position: absolute;
	bottom: 20px;
	left: 520px;
	width: 8px;
	height: 11px;
	background: url(../image/btn_pause.png) no-repeat;
}

#slideShow .playstop .play {
	position: absolute;
	bottom: 20px;
	left: 520px;
	width: 8px;
	height: 11px;
	background: url(../image/btn_play.png) no-repeat;
}