@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');


html{
  background: url(../image/1.jpg) no-repeat center center;
  background-size: cover;
}

form{ /* 로그인폼 전체 */
  width:1000px;
  margin:100px auto;
  display: flex;
  justify-content: center;
}


.square1, .square2{ /* 각각의사각형 */
  width: 400px;
  height: 400px;
  padding: 30px;
  background-color: whitesmoke;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


/* 왼쪽 사각형 */
.square1{ 
  margin-right: 30px;
}
h1{
  font-size:30px;
  font-family: 'Gugi', cursive,arial;
  padding-bottom: 50px;
}
input#userId, input#userPw{
  width: 100%;
  height:30px;
  margin-bottom: 20px;
  text-indent: 5px;
}

input#loginBtn{ /* 로그인버튼 */
  width:30%;
  height: 35px;
  float:right;
  margin-top:15px;
  border-radius: 10px;
  font-size: 11px;
  font-weight: bold;
  border:1px solid #999;
}

input#loginBtn:hover{
  background-color: rgb(109, 109, 109);
  color:whitesmoke;
}

#loginform p{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
}

.material-icons{
  font-size: 14px;
  color:rgb(91, 44, 134);
}
  

/* 오른쪽 사각형 */
.square2 .menual{
  padding: 20px 0;
  font-size: 13px;
  line-height: 25px;
}

mark{
  background-color: rgb(184, 230, 231);
}

#btnSearch,#btnJoin{/* 오른쪽버튼2개 */
  width:30%;
  height: 35px;
  margin-right: 15px;
  border-radius: 10px;
  border:1px solid #999;
  font-weight: bold;
  font-size: 11px;
}

#btnSearch:hover{
  background-color: rgb(247, 252, 178);
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#btnJoin:hover{
  background-color: rgb(216, 178, 252);
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}