@import url(common.css);

.title{
  font-size: 40px;
  padding: 20px;
  background-color: rgb(211, 211, 211);
  margin-top: 50px;
}

/* --------------menu1------------- */

#nav1{
  width:300px;
  margin:50px 0 0 30px;
}
#nav1 .menu1{}
#nav1 .menu1 li{
  position: relative; /* 각 li는 span(선)의 위치를 설정하기 위해 부모설정 */
  width:235px;
  height: 80px;
}
#nav1 .menu1 li a{
  display: block; /* <a>니까 */
  border-bottom: 1px solid #d6d6d6;
  color:#555;
  text-align: right;
  line-height: 80px;
  padding-right:15px;
}
#nav1 .menu1 li:first-child a{border-top:1px solid #d6d6d6;}





#nav1 .menu1 li span{ /* 글자위 가로선 */
  display: block;
  width: 0;
  height: 5px; /* 두께 */
  opacity: 0;
  position: absolute;
  top:0; /* 이거랑  아랫줄은 A때문에 생긴거 */
  right: 0;
  transition: all 0.4s;
}

/* 클래스on1을 제외한 나머지에만 오버적용 */
#nav1 .menu1 li:not(.on1):hover span{
  /* .on1이 아닌 li에 호버할떼 span을 어쩔꺼냐 */
  width:235px;
  background: orange;
  opacity: 1;
  /*  A. 여기까지하면 position의기본설정때문에 아래왼쪽으로 됨 부모에 top,right넣어줘야함 */
}

/* 현재위치활성화 */
#nav1 .menu1 .on1 span{
  display: block;
  position: absolute;
  top:0; 
  right: 0;
  width: 235px;
  height: 5px;
  background: orange;
  opacity: 1;
}

#nav1 .menu1 .on1 a{color:orange;}










/* --------------menu2------------- */

#nav2{
  width:220px;
  margin:50px 0 0 130px;
}
#nav2 .menu2{}
#nav2 .menu2 li{
  position: relative;
  width:220px;
  height:40px;
  border-bottom: 1px solid #ccc;
}
#nav2 .menu2 li a{
  display: block;
  color:#555;
  line-height: 40px; 
  z-index: 200; /* a의 포지션이있어야 z인덱스가적용됨 z인덱스만을위해 쓰는상황에 부모가 릴레티브면 그냥 앱솔루트쓰고 , 부모기준이 없다면 릴레티브쓰는게좋음 릴레티브가 지금위치에서 둥둥뜨게해주는거니까~ */
  position: absolute;
  text-indent: 15px;
}



#nav2 .menu2 li span{/* 글자 위 박스 */
  display: block;
  width:5px;
  height: 40px;
  background: #e7e4e4;
  position: absolute;
  top:0;
  left: 0;
  transition:all 0.4s;
}
#nav2 .menu2 li:not(.on2):hover span{
  width:220px;
  border-right: 5px solid #cc0000;
  box-sizing: border-box; /* 빨강색보더5px때문에 튀어나가는거 집어넣기 */
}

/* 현재위치활성화 */
#nav2 .menu2 .on2 span{ 
  width:220px;
  border-right: 5px solid #cc0000;
  box-sizing: border-box;
}




/* --------------menu3------------- */

#nav3{
  text-align: center;
  margin:100px auto;
}
#nav3 .menu3{display: inline-block;}
#nav3 .menu3 li{
  float: left;
  width:250px;
  height: 50px;
  position: relative;
  /* background: pink; */
}
#nav3 .menu3 li a{
  display: block;
  width: 100%;
  color:#555;
  font-size: 18px;
  line-height: 50px;
}
#nav3 .menu3 li span{ /* 가로선 */
  display: block;
  width: 0;
  border-bottom: 3px solid #ff5800;

  position: absolute;
  top:47px;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%); /*  가운데부터 나가게 */
  transition:all 0.4s;
}
#nav3 .menu3 li:hover span{
  width: 160px;
  border-bottom: 3px solid #ff5800;
  opacity: 1;
}



/* --------------menu4------------- */

#nav4{
  text-align: center;
  padding-bottom: 100px;
  margin:100px 0;
}
#nav4 .menu4{display: inline-block;}
#nav4 .menu4 li{
  float:left;
  width:180px;
  height:50px;
  position: relative;
  overflow: hidden; /* 이걸안하면 막대가 너무아래부터 다보임 주석으로 전,후 봐보기 */
}
#nav4 .menu4 li a{
  display: block;
  font-size: 16px;
  color:#666;
  font-weight: bold;
  line-height: 50px;
}

#nav4 .menu4 li span{
  display: block;
  position:absolute;
  top:80px;
  left: 0px;
  width: 180px;
  height: 2px;
  background: skyblue;
  opacity: 0;
  transition: all 0.4s;
}

#nav4 .menu4 li:hover span{
  top:40px;
  opacity: 1;
}